.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #fbc2eb, #a6c1ee);
  font-family: 'Segoe UI', sans-serif;
}

.formBox {
  background: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #4b0082;
}

.input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.preview {
  display: block;
  width: 100%;
  margin: 10px 0;
  border-radius: 8px;
}

.button {
  width: 100%;
  padding: 12px;
  background-color: #4b0082;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #360061;
}
